body{
    background-color: #adadad;
    background-image: url('imagens/Toyota-RAV4-2018\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    margin: 0px;
}

header{
    background-color: #000000;
    padding: 10px;
    padding-top: 2px;
    border-top: 0px;
    border-radius: 10px 10px 0px 0px;
    margin: 8px;
    margin-bottom: 0px;
}

#titulo{
    color: white;
    margin: 10px;
    text-align: center;
    font-family: sans-serif;
    
}

main{
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    margin: 8px;
    margin-top: 0px;
}

img{
    min-width: 300px;
}

#rdp{
    margin: 0px;
    margin-top: 10px;
    background-color: #686868;
    margin-bottom: 0px;
    text-align: center;
}

span{
    color: #ffffff;
}

h2{
    font-family: sans-serif;
}

button{
    background-color: #686868;
    color: #ffffff;
    border-radius: 3px;
}